<!DOCTYPE html>
<html>
  <head>
    <script src="timer.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeCount_App</title>
    <link rel="stylesheet" type="text/css" href="timer_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  </head>

  <body>
 
   <nav class="menu-bar">
        <div class="icon"><%= image_tag 'gear.svg', alt: 'setting-Icon', class: 'image'%></div>
        <div class="icon"><%= image_tag 'file-music.svg', alt: 'music-Icon', class: 'image'%></div>
       <% if current_user %> 
        <div class="icon"><%= link_to timer_path(current_user.id) do %>
        <%= image_tag 'journal-check.svg', alt: 'check-Icon', class: 'image'%><% end %></div>
       <% end %> 
      <% if user_signed_in? %>
        <div class="icon">
          <div class="menu-bar-user">
            <%= image_tag 'person-check-fill.svg', alt: 'user-Icon', class: 'image'%>
            <%= current_user.nickname%>
          </div>
        </div>
        <div class="icon"><%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
        <%= image_tag 'box-arrow-left.svg', alt: 'log-out-Icon', class: 'image'%><% end %></div>
      <% else %>
        <div class="icon"><%= link_to new_user_registration_path do %>
          <%= image_tag 'person-fill-add.svg', alt: 'sign-up-Icon', class: 'image'%><% end %></div>
        <div class="icon"><%= link_to new_user_session_path do %>
          <%= image_tag 'box-arrow-in-right.svg', alt: 'sign-in-Icon', class: 'image'%><% end %></div>
      <% end %>
   </nav>

   <div class="timer-container">
    <div id="timer-display">00:00:00</div>
    <button id="start-stop-button">開始</button>
   </div>
  </body>
</html>